/*PROPIEDADES DE LA PAGINA*/

*{
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	
}
body{
	background-image:url('http://localhost:8080/pagina_web/recursos/fondoclinica.jpg');
	background-position: center;
	height: 750px;
	background-repeat: no-repeat;
	background-size: cover;
}




/*PROPIEDADES DE LAS TABLAS */
#titulo_tabla{
	
	margin: 100px 0px 25px 5px;
	text-align: center;
	
}
#agregarRegistro{
	
	margin:0px 25px 100px 500px;
}

#listado{
	
	border-radius: 25px;
}
th tr thead{
	border:1px;
}





/*#################################### MODAL ##############################################*/

.input.form-control{
	width:30px;	
	height:30px;
	
}
.modal-body{
	background-color: white ;
}
.modal-title{
	text-align: center;
}
